.accountadd{
    .el-card {
        // 面板头
        .el-card__header {
            font-size: 20px;
            font-weight: bold;
            background-color: #f1f1f1;
        }
        .formBox{
            width: 400px;
        }
    }
}